<div class="row" style="min-width: 850px;">
    <div class="panel panel-primary" style="margin: 0;">
        <div class="panel-heading page-title clearfix">
            <h4 class="panel-title pull-left">{{localTranslate('ChangePassword', true)}}</h4>
        </div>
        <form role="form" novalidate angular-validator name="changePassword" angular-validator-submit="updatePassword()">
            <div class="panel-body">
                <table class="headerLayout">
                    <tr>
                        <td style="padding-right: 3px;">{{localTranslate('Password')}}:</td>
                        <td style="padding-bottom: 3px;">
                            <input type="password" name="inputPassword" class="form-control" ng-model="password" ng-change="resetIsValid()"
                                   autofocus="" placeholder="{{localTranslate('Password')}}" validate-on="blur" required required-message="'{{translate('PasswordRequired')}}'">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 3px;">{{localTranslate('ConfirmPassword')}}:</td>
                        <td style="padding-bottom: 3px;">
                            <input type="password" name="inputConfirmPassword" class="form-control" ng-model="confirmPassword" ng-change="resetIsValid()"
                                   placeholder="{{localTranslate('ConfirmPassword')}}" validate-on="blur" required required-message="'{{localTranslate('ConfirmPasswordMustMatch')}}'">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="control-label has-error validationMessage" style="color: #ffb658" ng-if="!isValid">{{localTranslate('ConfirmPasswordMustMatch')}}</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div style="padding-left: 244px;">
                    <button type="submit" class="btn btn-primary">{{localTranslate('Save', true)}}</button>
                </div>
            </div>
        </form>
    </div>
</div>