<div class="panel panel-primary">
    <div class="panel-heading page-title">
        Confirm Delete
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div style="padding-left:10px;">
                            <label class="control-label">Are you sure you want to reset your password?</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="resetPassword()">Yes</button>
            <button type="button" class="btn btn-danger" ng-click="cancelReset()">No</button>
        </div>
    </div>
</div>